<%# Barra de información / navegación (componente reutilizable) %>
<%= render 'shared/view_header', title: "Tiendas" do %>
  <%= link_to new_store_path, class: "btn btn-primary" do %>
    <i class="bi bi-plus-circle me-2"></i> Crear Tienda
  <% end %>
<% end %>

<%# Espacio vacío (componente reutilizable) %>
<div class="view-spacing"></div>

<%# Tarjetas de tiendas (componente reutilizable) %>
<div class="row g-3">
  <% if @stores.any? %>
    <% @stores.each do |store| %>
      <%= render 'shared/catalog_card',
          item: store,
          title: store.name,
          subtitle: "#{store.chain.name} | #{store.format.name}",
          avatar_letter: store.name.first.upcase,
          avatar_color: "primary",
          use_generic_avatar: true,
          generic_avatar: 'store-avatar.svg',
          edit_path: edit_store_path(store) %>
    <% end %>
  <% else %>
    <%= render 'shared/empty_state',
        icon: "bi-shop",
        message: "No hay tiendas registradas aún." %>
  <% end %>
</div>
